.equipment-category {
  display: flex;
  min-height: calc(~'100vh - 218px');

  .equipment-category-tree {
    width:20vw;
    min-width: 260px;
  }

  .equipment-category-fom-title {
    border-left: 3px solid #1881e2;
    padding-left: 14px;
    margin-bottom: 14px;
  }

  .equipment-category-form {
    width: 60vw;

    .equipment-category-row-flex {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .category-tree-select {
      text-align: right;
      padding: 5px 0;

      span {
        &::before {
          display: inline-block;
          margin-right: 4px;
          content: "*";
          font-family: SimSun;
          line-height: 1;
          font-size: 12px;
          color: #f04134;
        }
      }:after {
        content: ":";
        margin: 0 8px 0 2px;
        position: relative;
        top: -0.5px;
      }
    }

    .equipment-category-button-list {
      float: right;
      margin-right: 36px;

      button {
        margin-left: 28px;
      }
    }
  }
}
