@main-back: #171e31;
@title-back: #323644;
@text-color: #a1a1a1;

.spectacular {
  background-color: @main-back;
  min-height: 100vh;
  color: @text-color;

  .main {
    display: flex;
  }

  .spectacular-child {
    padding: 3px;
    // border: 1px solid #323644;
    border: 1px solid #e9e9e9;
    margin: 10px;

    .child-title {
      background: @title-back;
      color: @text-color;
      height: 25px;
      line-height: 25px;
      padding-left: 7px;

      i {
        float: right;
        padding: 0 10px;
        line-height: 20px;
      }
    }
  }

  .left-main {
    width: 357px;

    .child-content {
      padding: 9px 5px;

      .ant-row {
        margin: 10px 5px;

        .ant-col-5 {
          padding-left: 5px;
        }
      }

      .step {
        position: relative;

        .tip-content {
          width: 100%;
          height: 15px;
          background-image: linear-gradient(90deg, rgb(124, 124, 124) 6px, transparent 0px, rgb(124, 124, 124) 6px, transparent 1px, transparent 2px);
          background-size: 10px 15px;
          background-repeat: repeat-x;
          position: absolute;
        }

        .percent {
          background-size: 10px 15px;
          background-image: linear-gradient(90deg, #169ea694 6px, transparent 0px, #169ea694 6px, transparent 1px, transparent 2px);
          height: 15px;
          position: absolute;
        }
      }

      .bottom-line {
        display: flex;
        justify-content: space-between;
        width: 75%;
        margin: 5px 0;

        i {
          display: block;
          width: 30%;
          height: 2px;
          background: @title-back;
        }
      }

      .wait {
        padding: 5px 10px;
      }
    }
  }

  .vedio-main {
    width: calc(~'100vw - 707px');
    padding: 14px;

    .image {
      width: 100%;
    }

  }

  .right-main {
    width: 350px;
  }

}